.intro {
    padding-top: 60px;
}

.intro__title {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 30px;
}

.intro__text {
    padding-bottom: 30px;
}

.intro__text:last-child {
    padding-bottom: 0;
    margin-bottom: 50px;
}