.box {
    border-radius: 10px;
    background-color: #f1f1f1;
    max-width: 1140px;
    padding: 0 0px;
    margin: 0 auto;
}

.result {
    padding-bottom: 75px;
} 

.result__subtitle {
    display: inline-block;
    font-size: 44px;
    font-weight: 700;
    padding: 23px 0px 0px 45px;
    margin-bottom: 20px;
}

.result__list {
    padding-left: 70px;
    margin-bottom: 30px;
    list-style-type: "\2014  ";
}

.result__item {
    margin-bottom: 10px;
}

.result__item:last-child {
    margin-bottom: 0;
}

.result__text {
    padding: 0 30px 25px 45px
}